public/build/**
public/js-api/**
node_modules/**
server/buildConfig.local.js
reports/**
temp/**


**/env.local.js
**/buildConfig.local.js
karma.conf.js
public/scripts/warnnie.js
test/unit/app/_shared/utils/propertyFilter.specs.js
test/unit/app/applications/content/stores/utils/updateSitemap.specs.js
test/unit/app/applications/content/utils/commentUtils.specs.js

*.ts
*.tsx