.canvas {
  position: relative;
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  overflow: hidden;

  @media print {
    overflow: initial;
  }
}

.canvas__content {
  position: relative;
  display: flex;
  min-width: 0;
  background-color: @blue-50;
  flex: 2 1 auto;
  flex-direction: column;

  @media print {
    overflow: auto;
  }
}

.canvas__sidebar {
  flex: 1 2 auto;
  display: flex;
  flex-flow: column;
  //width: @sidebar-width-500;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: @blue-300;
  border-left: solid 1px @blue-500;

  @media print {
    display: none;
  }
}