.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar__content {
  max-width: 100%;
}

.sidebar__info-group {
  color: @font-color-blue-inverted;
  padding-bottom: @grid-unit * 2;
}

.sidebar__info-group-label-item {
  font-weight: bold;
}

.sidebar__info-group-value-item {
  font-size: 13px;
  padding-left: @grid-unit * 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar__info-group-detail-item {
  color: @link-color;
  font-size: 13px;
  padding-right: @grid-unit * 2;

  cursor: pointer;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--is-loading {
    color: @link-color--disabled;
    font-weight: normal;
    opacity: 0.5;
    text-decoration: none;

    pointer-events: none;
  }
}

.sidebar__info-group-detail-item:hover {
  color: @link-hover-color;
  text-decoration: underline;
}
