@spinner-teal: @teal-600;
@spinner-teal: @teal-300;

.spinner {
  border: solid @grid-unit @blue-500;
  border-radius: 50%;
  height: @grid-unit * 15;
  width: @grid-unit * 15;

  transition: border-top 0.5s ease;
  animation: spinWithColor 2s linear infinite;
}

.spinner-icon__wrapper {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.spinner-icon__container {
  position: absolute;
}

.spinner-icon {
  &:extend(.spinner);
  height: @grid-unit * 3;
  width: @grid-unit * 3;
  animation: spinWithIconColor 2s linear infinite;
}

@keyframes spinWithColor {
  0% {
    border-bottom: solid @grid-unit;
    border-color: @spinner-teal;
    transform: rotate(0deg);
  }
  50% {
    border-bottom: solid @grid-unit * 4;
    border-color: @blue-400;
  }
  100% {
    border-bottom: solid @grid-unit;
    border-color: @spinner-teal;
    transform: rotate(360deg);
  }
}

@keyframes spinWithIconColor {
  0% {
    border-bottom: solid @grid-unit;
    border-color: @spinner-teal;
    transform: rotate(0deg);
  }
  50% {
    border-bottom: solid @grid-unit;
    border-color: @blue-100;
  }
  100% {
    border-bottom: solid @grid-unit;
    border-color: @spinner-teal;
    transform: rotate(360deg);
  }
}
